Geometry superclass

GeoJSON-LD is enough to map GeoJSON to RDF but specification and processing of RDF data benefits from some additional semantics. In particular I miss a the superclass **Geometry** (Description: See [RFC 7946 Section 3.1](https://datatracker.ietf.org/doc/html/rfc7946#section-3.1)) of classes Point, MultiPoint, LineString, MultiLineString, Polygon, MultiPolygon, and GeometryCollection. This superclass is the range of property [geojson:geometry](https://purl.org/geojson/vocab#geometry).

The use case is such superclass is to express that something is a GeoJSON geometry so it can better be checked and queried.

Maybe there is no need for a new class but a reference which class to use would be helpful. So far I found:
 
- https://schema.org/GeospatialGeometry
- http://www.opengis.net/ont/geosparql#Geometry
